<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="z1g_Project_Hub_Universal.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <z1g_Project_Hub_Universal.My.MySettings>
            <setting name="savelocation" serializeAs="String">
                <value>C:\Users\Public\z1g-project\</value>
            </setting>
            <setting name="applocation" serializeAs="String">
                <value>C:\z1g-apps\</value>
            </setting>
            <setting name="replusername" serializeAs="String">
                <value />
            </setting>
            <setting name="replpfp" serializeAs="String">
                <value />
            </setting>
            <setting name="formWidth" serializeAs="String">
                <value>1073</value>
            </setting>
            <setting name="formHeight" serializeAs="String">
                <value>688</value>
            </setting>
            <setting name="windowPosition" serializeAs="String">
                <value>CenterScreen</value>
            </setting>
            <setting name="buildtype" serializeAs="String">
                <value>Stable</value>
            </setting>
            <setting name="buildfetchurl" serializeAs="String">
                <value>https://cdn.z1g-project.repl.co/z1g-hub/client/currentversion.txt</value>
            </setting>
        </z1g_Project_Hub_Universal.My.MySettings>
    </userSettings>
</configuration>
