<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Terbium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Terbium.Properties.Settings>
            <setting name="FormWidth" serializeAs="String">
                <value>1028</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>664</value>
            </setting>
            <setting name="ApplicationBackColor" serializeAs="String">
                <value>24,24,24</value>
            </setting>
            <setting name="TitleBarBackColor" serializeAs="String">
                <value>24,24,24</value>
            </setting>
            <setting name="DefualtFontColor" serializeAs="String">
                <value>24,24,24</value>
            </setting>
            <setting name="DefualtTitleBarFontColor" serializeAs="String">
                <value>24,24,24</value>
            </setting>
            <setting name="DefualtFont" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="versionurl" serializeAs="String">
                <value>https://terbium-46q.pages.dev</value>
            </setting>
        </Terbium.Properties.Settings>
    </userSettings>
</configuration>